<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">OSHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="usuario">

          <ul class="navbar-nav mr-auto">
            <a class="nav-link" style= "cursor:pointer" routerLink="/carrito" routerLinkActive="active">
              <mat-icon matBadge="{{contadorCart}}" matBadgeColor="warn">shopping_cart</mat-icon>
            </a>




          </ul>
          <ul class="navbar-nav">
            <a class="nav-link"  style= "cursor:pointer" *ngIf="! _auth.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
            <a class="nav-link"  style= "cursor:pointer" *ngIf="! _auth.loggedIn()" routerLink="/signup" routerLinkActive="active">Signup</a>
            <li class="nav-link" *ngIf="_auth.loggedIn()">
            <mat-icon matSuffix >account_circle</mat-icon>

            </li>
            <li class="nav-link" *ngIf="_auth.loggedIn()">{{usuario.nombre}}
            {{usuario.apellido}}</li>
            <a class="nav-link" style="cursor:pointer"   *ngIf="_auth.loggedIn()" (click)="_auth.logoutUser()">Logout</a>
          </ul>
        </div>
      </nav>


    </div>
  </div>

</div>

<div class="container">
  <router-outlet></router-outlet>
</div>




